//----------------------------------------------------------------------------------

#f_preloader_wrapper {
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
   // background: color(white);
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
}

#f_preloader_page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    //background: #30303c;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
	z-index: 1;
}

    
.f_loaderImage {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.f_loaderText {
    position: absolute;
    top: 60%;
    left: 46%;
    width: $preloader-img-w;
    height: $preloader-img-h;    
}

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.blue-orbit {
	width: 165px;
	height: 165px;
  border: 1px solid #ffe600;
  -webkit-animation: spin3D 3s linear .2s infinite;
}

.green-orbit {
	width: 120px;
	height: 120px;
  border: 1px solid #ffe600;
  -webkit-animation: spin3D 2s linear 0s infinite;
}

.red-orbit {
	width: 90px;
	height: 90px;
  border: 1px solid #ffe600;
  -webkit-animation: spin3D 1s linear 0s infinite;
}

.white-orbit {
	width: 60px;
	height: 60px;
  border: 2px solid #fff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.w1 {
  transform: rotate3D(1, 1, 1, 90deg);
}

.w2 {
  transform: rotate3D(1, 2, .5, 90deg);
}

.w3 {
  transform: rotate3D(.5, 1, 2, 90deg);
}

@keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(0deg);
    }
  }

