$ey-yellow: #ffe600;
$grey: #bababa;

#f_footer {
    background-color: $footer-bgcolor;

    #f_courseProgress {
        font-size: 1rem;
        width: 320px;
        margin-left: 30px;
        color: #fff;
        visibility: hidden;

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin: 0px;
        }
    }

    #f_subcourseTitle {
        position: relative;
        width: auto;
        height: 100%;
        background-color: #747480;
        color: #fff;
        font-size: 1.2rem;
        padding: 15px;
    }

    #f_pageCounter {
        position: relative;
        float: left;
        width: 40px;
        height: 145px;
        margin: 0px 0;
        display: flex;
        align-items: center;
        border-radius: 18px;
        flex-direction: column-reverse;
        background-color: rgba(46, 46, 56, 0.7);
        justify-content: center;
        margin-top: 25px;
        .centerLine {
            margin: 5px 0px 5px 0px;
            width: 25px;
            height: 1px;
            background-color: #fff;
        }
        #pageCounterCopy {
            display: block;
            opacity: 0 !important;
            position: absolute;
            top: 35%;
            width: 25px;
            height: 60px;
        }

        #f_nextBtn {
            width: 30px !important;
            height: 30px !important;
            @include FbgImage("../assets/images/ui/f_next.png", no-repeat);
            background-size: contain;
            background-position: center;
            // &:hover {
            //     @include bgImage("../assets/images/ui/f_next_over.png", 100% 100%, no-repeat);
            // }

            &.over {
                @include FbgImage("../assets/images/ui/f_next_hover.png", no-repeat);
            }
        }

        p {
            position: relative;
            float: left;
            width: auto;
            height: 60px;
            line-height: 15px;
            text-align: center;
            color: #fff;
            margin-bottom: 0;
            font-size: 14px;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            .pageCount {
                position: relative;
                float: left;
                width: 100%;
                margin: 0;
                line-height: normal;
                font-size: 20px;
                font-weight: bold;
                color: #ffe600;
            }

            .centerLine {
                margin: 5px 0px 5px 0px;
                width: 25px;
                height: 1px;
                background-color: #fff;
            }

            .totalPage {
                position: relative;
                float: left;
                width: 100%;
                padding: 0;
                margin: 0;
                line-height: 20px;
                font-size: 16px;
                /* margin-top: 2px; */
                color: #fff;
                font-weight: normal;
            }
        }

        .lineShadow {
            background-image: url(../assets/images/ui/line_shadow.png);
            width: 66px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 12px;
            z-index: -1;
        }
        #f_backBtn {
            width: 30px !important;
            height: 30px !important;
            position: relative;
            @include FbgImage("../assets/images/ui/f_prev.png", no-repeat);

            // &:hover {
            //     @include bgImage("../assets/images/ui/f_prev_over.png", 100% 100%, no-repeat);
            // }

            &.over {
                @include FbgImage("../assets/images/ui/f_prev_hover.png", no-repeat);
            }
        }
    }

    #f_courseTitle {
        position: absolute;
        width: calc(100% - 200px);
        height: $footer-height;
        margin-left: 25px;
        display: flex;
        justify-content: normal;
        align-items: center;
        top: 0px;

        p {
            position: relative;
            width: auto;
            height: auto;
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 0;
            color: $course-title-text-color;
            top: 0px;
            text-align: center;
        }
    }

    #f_navBtnContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 260px;
        margin-top: 40px;
        align-items: center;
        visibility: visible;

        #roundedAudioProgress_PlayPause {
            position: relative;
            width: 43px;
            height: 40px;

            /*   #f_mediaBtn {
                position: relative;
                width: 40px;
                height: 40px;
                margin-bottom: 0px !important;
                transform: scale(0.7);
                z-index: 10;

                &.f_play {
                    @include FbgImage("../assets/images/ui/nav_icons.png", no-repeat);
                    background-position: -1002px 0px;

                    &.over {
                        @include FbgImage("../assets/images/ui/nav_icons.png", no-repeat);
                        background-position: -1088px 0px;
                    }
                }

                &.f_pause {
                    @include FbgImage("../assets/images/ui/nav_icons.png", no-repeat);
                    background-position: -1367px 0px;

                    &.over {
                        @include FbgImage("../assets/images/ui/nav_icons.png", no-repeat);
                        background-position: -1453px 0px;
                    }
                }

                &.f_replay {
                    @include FbgImage("../assets/images/ui/replay.svg", no-repeat);
                    background-position: center;
                    width: 45px;
                    height: 35px;
                    transform: scale(0.8);

                    // background-position: -1489px 0px;
                    &.over {
                        @include FbgImage("../assets/images/ui/replay_hover.svg", no-repeat);
                    }
                }
            } */

            // Rounded audio slider start
            .slide__audio {
                position: absolute;
                background: transparent;
                width: 46px;
                top: 50%;
                left: 50%;
                margin: -23px -32px;
                display: none;
            }

            .audio__controls {
                height: 46px;
                width: 46px;
                position: relative;
            }

            .slide__audio .slide__audio-player {
                display: none;
            }

            .audio__slider {
                position: absolute;
                z-index: 3;
            }

            .audio__slider::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border: 3px solid #032237;
                border-radius: 100%;
                position: absolute;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            .audio__slider .rs-container {
                position: relative;
            }

            .audio__slider .rs-bar {
                top: 50%;
            }

            .audio__slider .rs-tooltip {
                display: none;
            }

            .rs-control {
                position: relative;
                outline: 0 none;
            }

            .rs-container {
                position: relative;
            }

            .rs-control *,
            .rs-control *:before,
            .rs-control *:after {
                box-sizing: border-box;
            }

            .rs-animation .rs-transition {
                transition: width 0s linear 0s;
            }

            .rs-bar {
                transform-origin: 100% 50%;
            }

            .rs-control .rs-split .rs-path,
            .rs-control .rs-overlay1,
            .rs-control .rs-overlay2 {
                transform-origin: 50% 100%;
            }

            .rs-control .rs-overlay {
                transform-origin: 100% 100%;
            }

            .rs-control.rs-error {
                border: 1px dotted;
                text-align: center;
            }

            .rs-inner-container {
                height: 100%;
                width: 100%;
                position: relative;
                overflow: hidden;
            }

            .rs-block {
                height: 100%;
                width: 100%;
                display: block;
                position: absolute;
                top: 0;
                overflow: hidden;
                z-index: 3;
            }

            .rs-block .rs-inner {
                -webkit-border-radius: 1000px;
                border-radius: 1000px;
                display: block;
                height: 100%;
                width: 100%;
                position: relative;
            }

            .rs-bar {
                position: absolute;
                height: 0;
                z-index: 10;
            }

            .rs-bar .rs-seperator {
                height: 0;
                border-bottom: medium none;
                display: block;
                float: left;
            }

            .full .rs-bar,
            .half .rs-bar {
                width: 50%;
            }

            .full .rs-bar,
            .half.left .rs-bar,
            .half.right .rs-bar {
                top: 50%;
            }

            .bottom .rs-bar {
                top: 0;
            }

            .half.right .rs-bar,
            .quarter.right .rs-bar {
                right: 100%;
            }

            .rs-handle.rs-move {
                cursor: pointer;
                display: none;
            }

            .rs-readonly .rs-handle.rs-move {
                cursor: default;
            }

            .rs-path {
                display: block;
                height: 100%;
                width: 100%;
            }

            .rs-split .rs-path {
                -webkit-border-radius: 1000px 1000px 0 0;
                border-radius: 1000px 1000px 0 0;
                overflow: hidden;
                height: 50%;
                position: absolute;
                top: 0;
                z-index: 2;
            }

            .rs-tooltip {
                text-align: center;
                position: absolute;
                cursor: default;
                border: 1px solid transparent;
                z-index: 10;
            }

            .rs-handle {
                border-radius: 1000px;
                outline: 0 none;
                float: left;
            }

            .rs-handle.rs-handle-square {
                border-radius: 0;
            }

            .paused .rs-handle,
            .playing .rs-handle,
            .active .rs-handle {
                background-color: $ey-yellow;
            }

            .rs-handle {
                background-color: #838383;
            }

            .slide__audio #circle {
                position: absolute;
                top: 23px;
                left: 23px;
                bottom: 0;
                stroke: #ffe600;
                width: 46px;
                height: 46px;
                border-radius: 100%;
                transform: translate(-50%, -50%);
                pointer-events: none;
                z-index: 4;
            }

            #seekbar {
                stroke-width: 6;
            }

            .playing #seekbar {
                visibility: visible;
            }

            // Rounded audio slider end
        }

        #f_refreshBtn {
            @include FbgImage("../assets/images/ui/nav_icons.png", no-repeat);
            background-position: -1635px 0px;

            &.over {
                @include FbgImage("../assets/images/ui/nav_icons.png", no-repeat);
                background-position: -1721px 0px;
            }
        }

        #f_hintBtn {
            width: 60px;
            height: 32px;
            display: none;
            @include bgImage("../assets/images/ui/f_instruction_icon.png", 100% 100%, no-repeat);

            &:hover {
                background-color: transparent !important;
            }

            &.hint_over {
                @include bgImage("../assets/images/ui/f_instruction_icon_over.png", 100% 100%, no-repeat);
            }
        }
    }

    .nev_container {
        display: flex;
        flex-direction: column;
        position: absolute;
        /* height: 100%; */
        width: 70px;
        right: 0px;
        justify-content: center;
        align-items: center;
        bottom: 5px;
        display: none;
    }

    #f_reviewBtn {
        position: absolute !important;
        //right: 60px;
        width: 35px !important;
        height: 35px !important;
        //margin-left: 6px;
        display: block;
        background-image: url(../assets/images/ui/review_normal.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        top: 35px;
        margin-right: 0px !important;
        //background-size: 80%;
        // background-position: center
        &:hover {
            background-image: url(../assets/images/ui/review_hover.png);
        }
    }

    #f_rightMenu {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 40px;
        right: 0px;
        justify-content: space-between;
        /* border-radius: 20px 0px 0px 20px; */
        top: 0px;
        //  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 37% 100%);

        button {
            position: relative;
            cursor: pointer;
            border: none;
        }
    }
}
