@font-face {
    font-family: "CenturyGothic";
    src:
        url("../sass/fonts/CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"),
        url("../sass/fonts/CenturyGothic-Bold.woff") format("woff"),
        url("../sass/fonts/CenturyGothic-Bold.ttf") format("truetype"),
        url("../sass/fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

sup {
    font-size: 10px;
    vertical-align: super !important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2e2e38;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

body,
html {
    width: 100%;
    height: 100%;
    text-align: center;
    color: $primary-text-color;
    background-color: #21252b;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.noMargin {
    margin: 0 !important;
}

.noMarginRight {
    margin-right: 0 !important;
}

.noMarginBottom {
    margin-bottom: 0 !important;
}

i {
    font-style: italic;

    b {
        font-weight: bold;
        font-style: italic;
    }
}

b {
    font-family: "EYInterstatebold";

    i {
        font-weight: bold;
        font-style: italic;
    }
}

p {
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    text-align: left;
}

li {
    margin-bottom: 15px;
}

.clearFix {
    clear: both;
}

.displayTable {
    position: relative;
    display: table;
}

.displayTableCell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.noTextSelect {
    /* iOS Safari */
    -webkit-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    -webkit-touch-callout: none;
    /* Safari */
    -khtml-user-select: none;
    /* Non-prefixed version, currently
                              supported by Chrome and Opera */
}

/*
button:focus {
    outline: 0 !important;
}*/

#f_preload_main_images {
    display: none;
}

#splashContainer {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    display: none;
    background: #282828;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:focus,
input:focus {
    //outline: 1px solid #FF0000 !important;
}

.btn_normal {
    right: 30px;
    bottom: 30px;
    width: auto;
    height: auto;
    @include gradient($button-gradient-from, $button-gradient-to, vertical);
    box-shadow: $button-shadow 0 4px 0 0;
    border-style: 0 solid rgb(255, 194, 49);
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;

    // &:hover {
    //     @include gradient($button-gradient-from-over, $button-gradient-to-over, vertical);
    // }
}

//gloabal page css

/* #section-1 .content-holder .col-left .content .content-bg > h1 {
    display: block;
    color: #fff !important;
    margin-bottom: auto !important;
    position: relative;
    padding-bottom: 10px !important;
    width: 100%;
    font-size: 1.2rem;
    height: auto !important;
    margin-bottom: 15px !important;

} */
//mobile devicess mediaquery
.home {
    @include mobile-landscape {
        gap: 5px !important;
        padding: 5px 10px !important;
    }

}

.home-go-to {
    @include mobile-landscape {
        width: 35px !important;
        height: 35px !important;
    }

}

.music {
    @include mobile-landscape {
        width: 35px !important;
        height: 35px !important;
    }


}

.information-icon {
    @include mobile-landscape {
        width: 35px !important;
        height: 35px !important;
    }

}

.content-holder {
    @include desktop-big{
        max-width: 1440px !important;
    }
}