//----------------------------------------------------------------------------------
  
  $background-color_1: #030129;
  $background-color_2: #195855;
  $background-color_3: #46b185;
  $background-color_4: #4c7275;
  $background-color_5: #f7f4e1;
  $background-color_6: #feb242;
  $background-color_7: #195855;
#f_preloader_wrapper {
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  // background: color(white);
  background: rgba(0,0,0,0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#f_preloader_page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  //background: #30303c;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.f_loaderImage {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;


  @keyframes rotateText {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes bounce {
    0% {
      top: 30px;
    }
    25% {
      top: 40px;
    }
    50% {
      top: 25px;
    }
    75% {
      top: 35px;
    }
    100% {
      top: 30px;
    }
  }
  body {
    margin: 0;
    display: flex;
    background-color: $background-color_1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  .loading {
    width: 120px;
    height: 120px;
    position: relative;
    z-index: 2;
  }
  .ball {
    width: 40px;
    height: 20px;
    position: absolute;
    background-color: $background-color_2;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    z-index: 2;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 20px;
      border-radius: 50%;
      filter: blur(12px);
      opacity: 0.7;
      z-index: -1;
    }
    &:nth-child(1) {
      background-color: $background-color_3;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      animation: bounce 2s ease-in-out infinite;
    }
    &:nth-child(2) {
      background-color: $background-color_4;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
    }
    &:nth-child(3) {
      background-color: $background-color_5;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(4) {
      background-color: $background-color_6;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }
  }
  .loading-text {
    position: absolute;
    top: -25%;
    left: -25%;
    width: 180px;
    height: 180px;
    transform: translate(50%, 50%);
    animation: rotateText 8s ease-in-out infinite;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 2px;
      background-color: $background-color_7;
      opacity: 0.5;
      animation: glow 2s ease-in-out infinite;
      &:nth-child(1) {
        background-color: $background-color_3;
      }
      &:nth-child(2) {
        background-color: $background-color_4;
      }
      &:nth-child(3) {
        background-color: $background-color_5;
      }
      &:nth-child(4) {
        background-color: $background-color_6;
      }
    }
  }
  .loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}
    
}
