@import 'popup';

.option_container {
     float: left;
     margin: 0;
     padding: 0;
     width: auto;
     height: auto;

     .f_radioBtn {
          float: left;
          position: relative;
          width: calc(100% - 88px);
          max-width: 100%;
          height: 40px;
          min-height: 40px;
          text-align: left;
          background: padding-box rgb(255, 255, 255);
          border: 1px solid rgba(195, 201, 212, 0);
          border-radius: 5px;
          padding: 0px 40px 0px 45px;
          margin: 5px 0 0;
          cursor: pointer;
          display: table;

          p {
               position: relative;
               display: table-cell;
               vertical-align: middle;
               padding: 5px 0;
          }

          &.disabled {
               &::before {
                    opacity: 0.5;
               }
          }

          &.f_over {
               @include gradient(rgb(229, 232, 239), rgb(246, 247, 250), vertical);
               box-shadow: rgba(116, 116, 116, 0.2) 0 2px 2px 0;
               border: 1px solid rgba(195, 201, 212, 1);

               &:focus {
                    @include gradient(rgb(229, 232, 239), rgb(246, 247, 250), vertical);
                    box-shadow: rgba(116, 116, 116, 0.2) 0 2px 2px 0;
                    border: 1px solid rgba(195, 201, 212, 1);
               }
          }

          &::before {
               content: '';
               position: absolute;
               top: 50%;
               margin-top: -15px;
               left: 7px;
               width: 30px;
               height: 30px;
               background-image: url(../../../../assets/images/global/radio_normal.png);
          }

          &[aria-checked="true"] {
               @include gradient(rgb(246, 247, 250), rgb(229, 232, 239), vertical);
               box-shadow: rgba(116, 116, 116, 0.2) 0 2px 2px 0;
               border: 1px solid rgba(195, 201, 212, 1);

               &::before {
                    background-image: url(../../../../assets/images/global/radio_selected.png);
               }

               &.f_over {

                    &:hover,
                    &:focus {
                         @include gradient(rgb(246, 247, 250), rgb(229, 232, 239), vertical);
                         box-shadow: rgba(116, 116, 116, 0.2) 0 2px 2px 0;
                         border: 1px solid rgba(195, 201, 212, 1);
                    }
               }
          }

          .f_mark {
               position: absolute;
               width: 30px;
               height: 30px;
               right: 5px;
               top: 50%;
               margin-top: -15px;
               background-size: 100%;
               background-repeat: no-repeat;

               &.tick {
                    background-image: url(../../../../assets/images/global/mark_tick.png);
               }

               &.cross {
                    background-image: url(../../../../assets/images/global/mark_cross.png);
               }
          }

          &.f_marked {
               @include gradient(rgb(246, 247, 250), rgb(229, 232, 239), vertical);
               box-shadow: rgba(116, 116, 116, 0.2) 0 2px 2px 0;
               border: 1px solid rgba(195, 201, 212, 1);
          }
     }

     .f_submitBtn {
          @extend .submit_normal;
          float: right;
     }
}