@import 'popup';

.option_container {
     float: left;
     margin: 0;
     padding: 0;
     width: auto;
     height: auto;

     .textareaHolder {
          float: left;
          position: relative;
          width: 100%;
          height: auto;
          min-height: 150px;

          textarea {
               position: absolute;
               width: calc(100% - 22px);
               height: 135px;
               @include gradient(rgb(229, 232, 239), rgb(246, 247, 250), vertical);
               box-shadow: 0 0 0 1px #c3c9d4;
               // border-style: solid;
               // border-color: rgb(195, 201, 212);
               // border-width: 1px;
               border: none;
               border-radius: 5px;
               padding: 7px 10px;
               font-size: 16px;
               font-family: Arial, Helvetica, sans-serif;
               text-decoration: none;
               color: rgb(0, 0, 0);
               resize: none;
               -webkit-appearance: none;
               left: 0;
               top: 0;
          }

          .resultArea {
               position: relative;
               width: calc(100% - 22px);
               height: height;
               min-height: 135px;
               @include gradient(rgb(229, 232, 239), rgb(246, 247, 250), vertical);
               box-shadow: 0 0 0 1px #c3c9d4;
               // border-style: solid;
               // border-color: rgb(195, 201, 212);
               // border-width: 1px;
               border-radius: 5px;
               padding: 7px 10px;
               font-size: 16px;
               font-family: Arial, Helvetica, sans-serif;
               text-decoration: none;
               color: rgb(0, 0, 0);
               left: 0;
               top: 0;
               display: none;

               li {
                    &:last-child {
                         margin-bottom: 0;
                    }
               }

               ul {
                    &:last-child {
                         margin-bottom: 0;
                    }
               }
          }

          .f_mark {
               position: absolute;
               width: 30px;
               height: 30px;
               right: 5px;
               top: 50%;
               margin-top: -15px;
               background-size: 100%;
               background-repeat: no-repeat;
               z-index: 10;

               &.tick {
                    background-image: url(../../../../assets/images/global/mark_tick.png);
               }

               &.cross {
                    background-image: url(../../../../assets/images/global/mark_cross.png);
               }
          }
     }

     .f_submitBtn {
          @extend .submit_normal;
          float: right;
     }
}