@import 'page_global';
@import 'popup';
$scenario-bg-color: #1a2028;
$scenario-text-color: #FFD374;
$scenario-container-bg-color: rgba(255, 255, 255, 0.8);
$scenario-holder-bg-color: rgba(255, 255, 255, 1);
$scenario-border-color: rgba(0, 0, 0, 1);
$scenario-border-size: 4px;
$scenario-bg-img: url("../../../../assets/images/global/common_bg.jpg");
$scenario-close-img: url("../../../../assets/images/global/popup_close.png");

.scenario_instruction_container {
    position: relative;
    float: left;
    width: auto;
    height: auto;
    background-color: $scenario-bg-color;
    color: $scenario-text-color;
    max-width: 100%;
    padding: 30px;

    .scenario_ins_scroll_holder {
        float: left;
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 364px;

        @include ipad-landscape {
            max-height: 600px;
        }

        @include ipad-portrait {
            max-height: fit-content;
        }

        @include mobile-portrait {
            max-height: fit-content;
        }

        @include mobile-landscape {
            max-height: fit-content;
        }

        p {
            // float: left;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-last-child(2) {
                padding-left: 40px;
            }

            .scenario_hint_icon {
                width: 30px;
                height: 30px;
                background-image: url("../../../../assets/images/global/instruction_icon.png");
                display: inline-flex;
                vertical-align: middle;
            }
        }

        .list_items_number {
            margin-bottom: 5px;

            li {
                margin-bottom: 10px;
            }
        }
    }
}

//---------------- Scenario Hint ------------------
.hint_popup_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $popup-container-bg-color;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 101;

    .hint_holder {
        position: relative;
        background-color: $scenario-bg-color;
        background-size: cover;
        // box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px 0;
        width: auto;
        height: auto;
        min-width: 20%;
        max-width: calc(100% - 80px);
        min-height: 10%;
        max-height: 80%;
        z-index: 100;
        overflow: hidden;

        @include mobile-portrait {
            position: absolute;
            max-width: 90%;
            height: calc(100% - 40px);
            max-height: calc(100% - 40px);
            top: 20px;
        }

        @include mobile-landscape {
            position: absolute;
            max-width: 90%;
            height: calc(100% - 40px);
            max-height: calc(100% - 40px);
            top: 20px;
        }

        .scrollbar_hintOuter {
            float: left;
            width: auto;
            height: auto;
            overflow: hidden;
            padding: 20px;
            overflow-y: auto;
            max-width: 100%;
            clear: both;

            @include ipad-portrait {
                overflow-y: auto;
            }

            @include ipad-landscape {
                overflow-y: auto;
            }

            @include mobile-portrait {
                overflow-y: auto;
                height: calc(100% - 40px);
            }

            @include mobile-landscape {
                overflow-y: auto;
            }

            .hintPopup_section {
                float: left;
                width: 100%;
                height: auto;
                color: $scenario-text-color;

                p {
                    &:last-child {
                        //margin-bottom: 0;
                    }
                }

                .list_items_number {
                    li {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

//---------------- Scenario page ------------------
.scenario_btn_container {
    float: left;
    width: auto;
    height: auto;
    margin-bottom: 15px;
    margin-top: 5px;

    .scenarioBtn {
        @extend .popupBtnStyle_1;
        // background-image: url("../../../../assets/images/global/hint_icon_big.png");
        position: relative;
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 5px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        color: $white;
        opacity: 0.25;
        cursor: default;

        .numberText {
            position: absolute;
            width: 100%;
            height: auto;
            line-height: 24px;
            color: #fff;
            text-align: center;
            left: 0;
            top: 8px;
            font-size: 14px;
            font-weight: normal;
        }
    }
}

.popup_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $scenario-container-bg-color;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    .content-holder {
        position: relative;
        background-color: $scenario-bg-color;
        background-image: $scenario-bg-img;
        background-size: cover;
        // box-shadow: rgba(0, 0, 0, 0.25) 0 0 15px 0;
        width: auto;
        height: auto;
        min-width: 20%;
        max-width: 80%;
        min-height: 10%;
        max-height: 80%;
        z-index: 100;
        overflow: hidden;

        @include ipad-portrait {
            max-width: 90%;
        }

        @include mobile-portrait {
            position: absolute;
            max-width: 90%;
            max-height: 95%;
            height: calc(100% - 40px);
            top: 20px;
            overflow: hidden;
            overflow-y: auto;
        }

        @include mobile-landscape {
            position: absolute;
            max-width: calc(100% - 40px);
            max-height: calc(100% - 40px);
            height: auto;
            top: 20px;
            overflow: hidden;
            overflow-y: auto;
        }

        .scenario_header {
            float: left;
            width: auto;
            height: auto;
            max-width: 100%;
            margin: 0;
            padding: 0;
            clear: both;
            color: $scenario-text-color;

            .scenario_title {
                float: left;
                width: auto;

                p {
                    float: left;
                }
            }

            .scenario_instruciton {
                float: left;
                width: auto;
                height: auto;
                background-color: $scenario-text-color;
                border: 1px solid rgb(235, 179, 59);
                color: #fff;
                margin: 0 0 15px;
                border-radius: 5px;
                clear: both;

                p {
                    float: left;
                    width: auto;
                    clear: both;
                    height: auto;
                    color: rgb(92, 12, 36);
                    margin-bottom: 0;
                    padding: 10px;
                    font-style: italic;
                }
            }
        }

        .scrollbar_outer {
            float: left;
            width: calc(100% - 40px);
            height: auto;
            overflow: hidden;
            padding: 20px;
            overflow-y: auto;
            max-width: 100%;
            clear: both;

            @include ipad-portrait {
                height: calc(100% - 40px);
                overflow-y: auto;
            }

            @include ipad-landscape {
                height: calc(100% - 40px);
                overflow-y: auto;
            }

            @include mobile-portrait {
                height: calc(100% - 40px);
                overflow-y: auto;
            }

            @include mobile-landscape {
                height: calc(100% - 40px);
                overflow-y: auto;
            }

            .scenario_section {
                float: left;
                width: 100%;
                height: auto;
                color: $scenario-text-color;
                margin-top: 20px;

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .char_holder {
                    float: left;
                    width: 118px;
                    height: auto;
                    margin-bottom: 15px;

                    @include mobile-portrait {
                        width: 100%;
                        margin-top: 15px;
                    }

                    @include mobile-landscape {}

                    .charBtn {
                        float: left;
                        position: relative;
                        width: 118px;
                        height: 118px;
                        border: 4px solid #fec235;
                        margin: 0;
                        border-radius: 100%;
                        box-shadow: 0 4px 0 2px rgba(0, 0, 0, 0.3);
                        cursor: pointer;

                        @include mobile-portrait {
                            position: relative;
                            left: 50%;
                            margin-left: -59px;
                        }

                        &.char_selected {
                            cursor: default;

                            &:after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4) inset;
                                left: 0px;
                                top: 0px;
                            }
                        }
                    }

                    &#char_0 {
                        .charBtn {
                            background-position: -7px 0;
                        }
                    }

                    &#char_1 {
                        .charBtn {
                            background-position: -5px 0;
                        }
                    }

                    .char_name {
                        float: left;
                        width: inherit;
                        height: auto;

                        p {
                            float: left;
                            width: inherit;
                            height: auto;
                            color: rgb(245, 192, 78);
                            font-weight: bold;
                            text-align: center;
                            margin-top: 15px;
                        }
                    }
                }

                .scenario_callout {
                    float: left;
                    position: relative;
                    width: calc(100% - 308px);
                    height: auto;
                    margin: 10px 20px;
                    background-color: #fff;
                    border: 1px solid rgb(26, 36, 61);
                    border-radius: 7px;
                    padding: 15px;
                    opacity: 0;
                    color: #000000;

                    @include mobile-portrait {
                        width: calc(100% - 30px);
                        margin: 10px 0;
                    }

                    @include mobile-landscape {}

                    p {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .callout_arrow {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        overflow: hidden;
                        left: unset;
                        bottom: unset;
                        right: unset;
                        top: 40px;

                        @include mobile-portrait {}

                        @include mobile-landscape {}

                        .callArrow {
                            position: relative;
                            width: 21px;
                            height: 21px;
                            background-color: #fff;
                            box-shadow: -1px 0 0 0 rgb(26, 36, 61);

                            &.leftArrow {
                                transform: skew(-45deg);
                                left: 7px;

                                @include mobile-portrait {
                                    display: none;
                                }
                            }

                            &.rightArrow {
                                transform: skew(45deg);
                                right: 11px;

                                @include mobile-portrait {
                                    display: none;
                                }
                            }

                            &.topArrow {
                                transform: skew(45deg);
                                right: 11px;
                                display: none;

                                @include mobile-portrait {
                                    display: block;
                                }
                            }

                            &.bottomArrow {
                                transform: skew(45deg);
                                left: 11px;
                                display: none;

                                @include mobile-portrait {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.hintContinueBtn,
.scenarioContinueBtn {
    @extend .popupBtnStyle_1;
    position: relative;
    float: left;
    width: 100px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    left: 50%;
    margin-left: -50px;
    clear: both;
    margin-bottom: 4px;
}