@import "../../../../sass/mixins.scss";
@import "../../../../sass/media_query.scss";
@import "../../../sass/_templateVariables.scss";

.f_page_content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: left;
  color: $white;
}

.dark {
  background-color: rgba(46, 46, 56, 0.8);
}

#section-1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  //overflow: hidden;

  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: scale(1);
    transform-origin: left top;
    background-position: right;
  }

  .content-holder {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1366px;
    height: 100%;
    margin: 0px auto;
    overflow: hidden;

    .col-left {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0px auto;

      .content {
        position: relative;
        display: block;
        height: 100%;

        .content-bg {
          // padding: 30px 0px;
          position: relative;
          display: block;
          height: 100%;

          & > .main-text {
            display: flex !important;
            justify-content: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            & > h1 {
              font-size: 3.5rem;
              color: #fff;
              text-align: center;
              margin-bottom: 1%;
              font-family: system-ui;
              font-weight: 700;
              background-color: #5da661;
              border-radius: 10px;
              padding: 10px;
              width: calc(100% - 700px);
            }

            .ost-txt {
              opacity: 1;
              width: calc(100% - 500px);

              p {
                font-size: 1.5rem;
                text-align: center;
                color: #fff;
                font-weight: 600;
              }
            }
          }

          .header {
            position: absolute;
            top: 0px;
            width: 100%;
            left: 0;
            z-index: 11;
            padding: 15px 20px;
            @include mobile-landscape {
              padding: 10px 20px;
              top: 0px;
            }
            #home {
              width: 50px;
              height: 50px;
              background: url("../images/back.png") no-repeat;
              background-size: contain;
              background-position: center;
              border: none;
              cursor: pointer;
              position: relative;
              animation: none !important;
              transition: transform 0.5s ease-in;
              @include mobile-landscape {
                width: 35px;
                height: 35px;
              }
              &:hover {
                transform: scale(1.125);
              }

              &::after {
                content: attr(data-tooltip);
                /* tooltip text from attribute */
                position: absolute;
                top: 100%;
                /* below the button */
                left: 50%;
                transform: translateX(-50%);
                background: rgba(0, 0, 0, 0.85);
                font-weight: bold;
                color: #fff;
                white-space: nowrap;
                box-shadow: 0 2px 19px rgba(0, 0, 0, 0.6);
                border: 1px solid rgba(255, 255, 255, 0.3);
                color: #fff;
                font-size: 10px;
                padding: 3px 5px;
                border-radius: 4px;
                font-family: "Times New Roman", Times, serif;
                white-space: nowrap;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s;
                margin-top: 4px;
                z-index: 10;
              }

              /* Show tooltip on hover */
              &:hover::after {
                opacity: 1;
              }
            }
          }

          & > .body {
            position: relative;
            display: flex !important;
            flex-direction: column;
            justify-content: normal;
            align-items: center;
            width: 100% !important;
            height: 100%;

            .sub-section {
              width: 100%;
              height: 100%;

              .video-holder {
                width: 100%;
                height: 100%;
                background-color: #fff;

                video {
                  pointer-events: auto;
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  background-color: #fff;
                }

                video::-webkit-media-controls {
                  display: flex !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  background: #fff !important;
}

/* Optional: make the video cover the entire player without stretching */
.vjs-tech {
  background: #fff;
  object-fit: contain;
}

#f_header {
  z-index: 1111 !important;
}
